.banner {
  .banner-container {
    .banner-carousel {
      width: 100%;
      height: auto;
      .banner-slider {
        .banner-item {
          img {
            width: 100%;
            height: auto;
          }
          //   background-image: url("https://cdn2.cellphones.com.vn/690x300/https://dashboard.cellphones.com.vn/storage/fold4-moi-sliding-0709.jpg");
          //   background-repeat: no-repeat;
          //   background-size: contain;
          //   background-position: center;
        }
      }
    }
  }
}
